
<div ng-include="'tpl/header.html'"></div>

<div class="container" style="margin-top: 70px">
    <ol class="breadcrumb">
        <li><a href="#/main">首页</a></li>
        <li>详情</li>
    </ol>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>【<span>甜酸开胃虾</span>】</h2>
            <div style="border:1px solid #ddd;margin:20px 0" ></div>
            <img src="img/p0281-l.jpg" class="img-responsive"/>
                <div class="detail-msg">
                    <h4><b>主要原料：</b><span>名消防的设辅导费电视...</span></h4>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequatur dolorem doloremque eos ex numquam, quae quaerat tempora velit voluptates. Cupiditate dolore dolorum facere illo, incidunt sit sunt tempora veritatis.
                    <h5>￥：36.00</h5>
            </div>
        </div>
        <div class="panel-footer">
            <div class="text-right">
                <button class="btn btn-success" ng-click="jump('/order')">我要订餐</button>
                <button class="btn btn-info" ng-click="jump('/main')">我要看看</button>
            </div>
        </div>
    </div>
</div>

<div ng-include="'tpl/footer.html'"></div>